<h2 class="text-center">Declined applications</h2>

<table class="ui table applications-table">
    <thead>
        <tr>
            <th>Applicant Name</th>
            <th>Applicant email</th>
            <th>Property Name</th>
            <th>Submission Date</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="application in declinedApplications">
            <td>{{application.user.firstName}} {{application.user.lastName}}</td>
            <td>{{application.user.email}}</td>
            <td>{{application.propertyName}}</td>
            <td>{{application.signDate | date:'medium'}}</td>
            <td><button type="button" class="ui grey basic button" ui-sref="application-details({ id: application._id })">View</button></td>
            <td><button type="button" class="ui positive basic button">Approve</button></td>
            <td><button type="button" class="ui negative basic button">Delete</button></td>
        </tr>
    </tbody>
</table>
