<main-nav state="2"></main-nav>
<div class="form-container">
    <form name="maintenanceForm" class="ui equal width form" ng-submit="submit()">
        <div class="ui segment">
            <h2>Maintenance Request</h2>
            <form class="ui equal width form">
                <div class="fields">
                    <div class="field">
                        <label>Tenant Name</label>
                        <input type="text" value="{{request.contact.name}}" disabled>
                    </div>
                    <div class="field">
                        <label>Property Name</label>
                        <input type="text" value="{{request.propertyName}}" disabled>
                    </div>
                </div>
            </form>
            <div class="field required">
                <label for="issue">Please describe the issue</label>
                <textarea name="issue" ng-model="request.issue" placeholder="Issue description" required></textarea>
            </div>
            <div class="ui center aligned container">
                <button type="submit" class="ui large positive basic button" ng-disabled="maintenanceForm.$invalid">Submit</button>
            </div>
        </div>
    </form>
</div>
