@import url( 'https://fonts.googleapis.com/css?family=Alegreya');
$font-main: 'Avenir Next', Avenir, sans-serif;
$font-serif: 'Alegreya', serif;
$nav-height: 70px;
$bg-nav: rgba(255, 255, 255, 0.9);
$color-text-dark: #222;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-main;
}

#main-wrapper {
    margin-top: $nav-height;
}

main-nav {
    .company-title {
        font-size: 1.5em;
    }

    a {
        text-decoration: none;
        color: $color-text-dark;
        font-size: 1.2em;
        font-family: $font-serif;

        &:active,
        &:visited {
            text-decoration: none;
            color: $color-text-dark;
        }
    }
}

.form-container {
    margin: auto auto 50px;
    @media screen and (min-width: 1200px) {
        width: 50%;
    }
    @media screen and (max-width: 1199px) {
        width: 70%;
    }
    @media screen and (max-width: 800px) {
        width: 90%;
    }

    button[type="submit"] {
        display: block;
        margin: 30px auto auto;
    }
}
