@import url( 'https://fonts.googleapis.com/css?family=Alegreya');
$font-main: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-serif: 'Alegreya', serif;
$nav-height: 70px;
$bg-nav: rgba(255, 255, 255, 0.9);
$color-text-dark: #222;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-main;
}

#main-wrapper {
    margin-top: $nav-height;
}

.serif-font {
    font-family: $font-serif;
}

.text-center {
    text-align: center;
}

@import 'partials/main-nav';
@import 'partials/application-form';
@import 'partials/applications-tables';
@import 'partials/application-details-form';
