$font-main: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-serif: 'Josefin Slab', serif;
$nav-height: 115px;
$bg-nav: rgba(255, 255, 255, 0.9);
$color-text-dark: #222;
// $color-highlight: #BD542D;
// $color-transparent-highlight: rgba(189,84,45,0.5);
// .ui.table thead th,
// .ui.block.header,
// .ui.menu .active.item {
//   background-color: lighten($color-highlight, 30%) !important;
// }

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-main;
}

#master-container {
    min-height: 100%;
    position: relative;
}

#main-wrapper {
    margin-top: $nav-height;
    padding-bottom: 60px;
}

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 60px;
    padding-top: 50px;

    #footer-menu {
        border-radius: 0;
    }
}

.serif-font {
    font-family: $font-serif !important;
}

.text-center {
    text-align: center;
}

.cursor-pointer {
    cursor: pointer !important;
}

.full-opacity-disabled-form {
    input,
    textarea {
        opacity: 1 !important;
    }
}

.full-opacity-disabled-form input.opacity-disabled {
    opacity: 0.45 !important;
}

.ng-hide.ng-hide-animate {
    display: none !important;
}

.card {
    cursor: pointer;
}

.slider-container {
    @media screen and (min-width: 966px) {
        min-width: 600px;
    }
    @media screen and (max-width: 965px) {
        min-width: 500px;
    }
    @media screen and (max-width: 855px) {
        min-width: 400px;
    }
    @media screen and (max-width: 768px) {
        min-width: 100px;
    }
}

.mock-segment {
    border: 1px solid rgba(34,36,38,.15);
    border-radius: 4px;
    height: 66%;
    line-height: 36px;
    padding-left: 15px;
}

@import 'partials/nav';
@import 'partials/home';
@import 'partials/main-nav';
@import 'partials/application-form';
@import 'partials/application-details-form'; // @import 'partials/image-slider';
