<nav class="navbar">
    <ul>
        <li class="link" ng-show="!isMobile" ng-repeat="link in left"><a ui-sref="{{ link.link }}">{{ link.name }}</a></li>
        <li>
            <div ui-sref="home" class="logo-container">
                <div class="text-container serif-font">
                    Fox Briar
                </div>
                <div class="image-container">
                    <img src="https://s3-us-west-2.amazonaws.com/fox-briar-properties/fox-logo.png" alt="">
                </div>
                <div class="text-container serif-font">
                    Properties
                </div>
            </div>
        </li>
        <li class="link" ng-show="!isMobile" ng-repeat="link in right"><a ui-sref="{{ link.link }}">{{ link.name }}</a></li>
        <li ng-show="isMobile" ng-click="isToggled = !isToggled" class="hamburger-menu">
            <span class="menu item">
                <i class="content icon"></i>
            </span>
        </li>
    </ul>
</nav>
<div class="ui fluid vertical menu nav-collapse" ng-if="isMobile && isToggled">
    <div class="link item" ng-repeat="link in links" ui-sref="{{ link.link }}">{{ link.name }}</div>
</div>
