<navbar state="1"></navbar>
<!-- <h1 class="ui block header serif-font text-center">Fox Briar Properties<br><small>Application Form</small></h1> -->
<h1 class="ui center aligned block header serif-font">Application Form</h1>
<button class="ui grey basic button" type="button" ng-click="fillForm()">Fill Form</button>
<div class="form-container">
    <form name="applicationForm" class="ui equal width form" ng-submit="submitApplication()">
        <div class="ui segment">
            <h2>Selected Property</h2>
            <div class="field">
                <select class="ui fluid search dropdown" name="property-name" id="property-name" ng-model="application.propertyId" ng-options="option.value as option.name for option in propertyOptions" ng-required="propertyRequired">
                    <option value="">Property</option>
                </select>
            </div>
        </div>
        <div class="ui segment">
            <h2>Applicant Information</h2>
            <!-- Names -->
            <div class="fields">
                <div class="field six wide">
                    <label for="first-name">First Name</label>
                    <input type="text" name="first-name" id="first-name" ng-model="application.user.firstName" required>
                </div>
                <div class="field four wide">
                    <label for="middle-name">Middle Name</label>
                    <input type="text" name="middle-name" id="middle-name" ng-model="application.user.middleName">
                </div>
                <div class="field six wide">
                    <label for="last-name">Last Name</label>
                    <input type="text" name="last-name" id="last-name" ng-model="application.user.lastName" required>
                </div>
            </div>
            <div class="fields">
                <div class="field four wide">
                    <!-- Bday -->
                    <label for="birth-date">Birth Date</label>
                    <div class="ui input right icon">
                        <input type="date" name="birth-date" id="birth-date" ng-model="application.user.birthdate" required>
                        <i class="calendar icon"></i>
                    </div>
                </div>
                <div class="field six wide">
                    <!-- Email -->
                    <label for="email">Email Address</label>
                    <input type="email" name="email" id="email" ng-model="application.user.email" required>
                </div>
                <div class="field six wide">
                    <!-- Phone -->
                    <label for="phone">Phone Number</label>
                    <input type="text" name="phone" id="phone" ng-model="application.user.phone" required>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <!-- SSN -->
                    <label for="ssn">Social Security Number</label>
                    <input type="text" name="ssn" id="ssn" ng-model="application.user.ssn" maxlength="9" required>
                </div>
                <div class="field">
                    <!-- Driver's Licence -->
                    <label for="drivers-licence">Driver's License Number</label>
                    <input type="text" name="drivers-licence" id="drivers-licence" ng-model="application.user.driversLicence" required>
                </div>
            </div>
        </div>
        <!-- Additional Occupants -->
        <div class="ui segment">
            <h2>Additional Occupants</h2>
            <div class="inline field">
                <label>How many occupants in addition to the applicant?</label>
                <input type="number" name="" id="" min="0" max="7" ng-model="numAddOccupants" placeholder="0" required>
            </div>
            <div ng-show="numAddOccupants > 0">
                <additional-occupant-fields num="numAddOccupants" model="application.user.relations"></additional-occupant-fields>
            </div>
        </div>
        <!-- Emergency Contact -->
        <div class="ui segment">
            <h2>Emergency Contact Information</h2>
            <!-- Names -->
            <div class="fields">
                <div class="field">
                    <label for="contact-first-name">First Name</label>
                    <input type="text" name="contact-first-name" id="contact-first-name" ng-model="application.emergency.firstName" required>
                </div>
                <div class="field">
                    <label for="contact-last-name">Last Name</label>
                    <input type="text" name="contact-last-name" id="contact-last-name" ng-model="application.emergency.lastName" required>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <!-- Email -->
                    <label for="contact-email">Email Address</label>
                    <input type="email" name="contact-email" id="contact-email" ng-model="application.emergency.email" required>
                </div>
                <div class="field">
                    <!-- Phone -->
                    <label for="contact-phone">Phone Number</label>
                    <input type="text" name="contact-phone" id="contact-phone" ng-model="application.emergency.phone" required>
                </div>
            </div>
        </div>
        <!-- Rental History -->
        <div class="ui segment">
            <h2>Rental History</h2>
            <h3>Current Residence</h3>
            <!-- Address -->
            <address-inputs model-key="current" model="application.currentResidence.address"></address-inputs>

            <!-- Details -->
            <div class="fields">
                <div class="field">
                    <label for="current-rent">Monthly Rent</label>
                    <div class="ui right labeled input">
                        <div class="ui label">$</div>
                        <input type="text" name="current-rent" id="current-rent" ng-model="application.currentResidence.monthlyRent" placeholder="Amount" required>
                        <div class="ui basic label">.00</div>
                    </div>
                </div>
                <div class="field">
                    <label for="current-res-start-date">Beginning Date of Residency</label>
                    <div class="ui input right icon">
                        <input type="date" name="current-res-start-date" id="current-res-start-date" ng-model="application.currentResidence.beginningDate" required>
                        <i class="calendar icon"></i>
                    </div>
                </div>
            </div>
            <div class="field">
                <label for="current-reason">Reason for moving</label>
                <input type="text" name="current-reason" id="current-reason" ng-model="application.currentResidence.reasonForMoving" required>
            </div>
            <!-- Manager Info -->
            <div class="fields">
                <div class="field">
                    <label for="current-manager-name">Owner/Manager's name</label>
                    <input type="text" name="current-manager-name" id="current-manager-name" ng-model="application.currentResidence.managerName" required>
                </div>
                <div class="field">
                    <label for="current-manager-phone">Owner/Manager's phone</label>
                    <input type="text" name="current-manager-phone" id="current-manager-phone" ng-model="application.currentResidence.managerPhone" required>
                </div>

            </div>
        </div>
        <div class="ui segment">
            <h2>Employment History</h2>
            <h3>Current Employer</h3>
            <div class="fields">
                <div class="field">
                    <label for="current-employer">Current Employer</label>
                    <input type="text" name="current-employer" id="current-employer" ng-model="application.currentEmployment.employer" required>
                </div>
                <div class="field">
                    <label for="current-occupation">Occupation</label>
                    <input type="text" name="current-occupation" id="current-occupation" ng-model="application.currentEmployment.occupation" required>
                </div>
                <div class="field">
                    <label for="current-occupation-start">Start Date</label>
                    <div class="ui input right icon">
                        <input type="date" name="current-occupation-start" id="current-occupation-start" ng-model="application.currentEmployment.startDate" required>
                        <i class="calendar icon"></i>
                    </div>
                </div>
            </div>

            <address-inputs model-key="current-employer" model="application.currentEmployment.address"></address-inputs>

            <div class="fields">
                <div class="field six wide">
                    <label for="current-supervisor-name">Supervisor's Name</label>
                    <input type="text" name="current-supervisor-name" id="current-supervisor-name" ng-model="application.currentEmployment.supervisorName" required>
                </div>
                <div class="field six wide">
                    <label for="current-employer-phone">Employer's phone</label>
                    <input type="text" name="current-employer-phone" id="current-employer-phone" ng-model="application.currentEmployment.supervisorPhone" required>
                </div>
                <div class="field four wide">
                    <label for="current-monthly-pay">Monthly Pay</label>
                    <div class="ui right labeled input">
                        <div class="ui label">$</div>
                        <input type="text" name="current-monthly-pay" id="current-monthly-pay" ng-model="application.currentEmployment.monthlyPay" placeholder="Amount" required>
                        <div class="ui basic label">.00</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Account Info -->
        <div class="ui segment">
            <h2>Account Information</h2>
            <h3>Checking Account</h3>
            <div class="fields">
                <div class="field">
                    <label for="checking-account-name">Bank / Institution</label>
                    <input type="text" name="checking-account-name" id="checking-account-name" ng-model="application.bankInfo.checking.name" required>
                </div>
                <div class="field">
                    <label for="checking-account-balance">Balance on Deposit</label>
                    <div class="ui right labeled input">
                        <div class="ui label">$</div>
                        <input type="text" name="checking-account-balance" id="checking-account-balance" ng-model="application.bankInfo.checking.balance" required>
                        <div class="ui basic label">.00</div>
                    </div>
                </div>
            </div>
            <h3>Savings Account</h3>
            <div class="fields">
                <div class="field">
                    <label for="savings-account-name">Bank / Institution</label>
                    <input type="text" name="savings-account-name" id="savings-account-name" ng-model="application.bankInfo.savings.name" required>
                </div>
                <div class="field">
                    <label for="savings-account-balance">Balance on Deposit</label>
                    <div class="ui right labeled input">
                        <div class="ui label">$</div>
                        <input type="text" name="savings-account-balance" id="savings-account-balance" ng-model="application.bankInfo.savings.balance" required>
                        <div class="ui basic label">.00</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <h2>References</h2>
            <div class="fields">
                <div class="field">
                    <label for="">Name</label>
                    <input type="text" ng-model="application.references[0].name" required>
                </div>
                <div class="field">
                    <label for="">Phone Number</label>
                    <input type="text" ng-model="application.references[0].phone" required>
                </div>
                <div class="field">
                    <label for="">Relationship</label>
                    <input type="text" ng-model="application.references[0].relationship" required>
                </div>
            </div>
            <div class="fields">
                <div class="field">
                    <label for="">Name</label>
                    <input type="text" ng-model="application.references[1].name" required>
                </div>
                <div class="field">
                    <label for="">Phone Number</label>
                    <input type="text" ng-model="application.references[1].phone" required>
                </div>
                <div class="field">
                    <label for="">Relationship</label>
                    <input type="text" ng-model="application.references[1].relationship" required>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <h2>General Information</h2>
            <!-- Late or Delinquent -->
            <div class="inline field">
                <label>Have you ever been late or delinquent on rent?</label>
                <div class="ui radio checkbox">
                    <input type="radio" name="late" checked="checked" ng-model="application.generalInfo.hasBeenLate" value="true" required>
                    <label>Yes</label>
                </div>
                <div class="ui radio checkbox">
                    <input type="radio" name="late" ng-model="application.generalInfo.hasBeenLate" value="false" required>
                    <label>No</label>
                </div>
            </div>
            <div class="field" ng-show="application.generalInfo.hasBeenLate == 'true'">
                <label for="">Please Explain</label>
                <input type="text" name="" ng-model="application.generalInfo.lateExplaination" ng-required="application.generalInfo.hasBeenLate == 'true'">
            </div>
            <!-- Lawsuit -->
            <div class="inline field">
                <label>Have you ever been party to a lawsuit?</label>
                <div class="ui radio checkbox">
                    <input type="radio" name="lawsuit" checked="checked" ng-model="application.generalInfo.hasHadLawsuit" value="true" required>
                    <label>Yes</label>
                </div>
                <div class="ui radio checkbox">
                    <input type="radio" name="lawsuit" ng-model="application.generalInfo.hasHadLawsuit" value="false" required>
                    <label>No</label>
                </div>
            </div>
            <div class="field" ng-show="application.generalInfo.hasHadLawsuit == 'true'">
                <label for="">Please Explain</label>
                <input type="text" name="" ng-model="application.generalInfo.lawsuitExplaination" ng-required="application.generalInfo.hasHadLawsuit == 'true'">
            </div>
            <!-- Credit History -->
            <div class="inline field">
                <label>Is there anything negative in your credit or background check?</label>
                <div class="ui radio checkbox">
                    <input type="radio" name="credit" checked="checked" ng-model="application.generalInfo.hasNegativeCredit" value="true" required>
                    <label>Yes</label>
                </div>
                <div class="ui radio checkbox">
                    <input type="radio" name="credit" ng-model="application.generalInfo.hasNegativeCredit" value="false" required>
                    <label>No</label>
                </div>
            </div>
            <div class="field" ng-show="application.generalInfo.hasNegativeCredit == 'true'">
                <label for="">Please Explain</label>
                <input type="text" name="" ng-model="application.generalInfo.creditExplaination" ng-required="application.generalInfo.hasNegativeCredit == 'true'">
            </div>
        </div>
        <div class="ui segment">
            <h2>Stipulations</h2>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="noPets" ng-model="stipulation1" required>
                    <label>I understand that pets are not allowed</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="noSmoking" ng-model="stipulation2" required>
                    <label>I understand that smoking is not allowed</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="appFee" ng-model="stipulation3" required>
                    <label>I understand that there will be a $20 application fee in order to submit this application</label>
                </div>
            </div>
        </div>
        <!-- Additional Questions -->
        <div class="field">
            <label for="">Additional Questions</label>
            <textarea rows="2" ng-model="application.additionalQuestions"></textarea>
        </div>
        <h2>Agreement &amp; Authorization</h2>
        <p>By signing this application, I verify that the statements in this application are true and correct. I authorize the use of the information and contacts provided to complete a credit, reference, and/or background check. I understand that false
            or lack of information may result in the rejection of this application.</p>
        <div class="fields">
            <div class="field ten wide">
                <label for="">Signature of Applicant</label>
                <input type="text" name="" id="" ng-model="application.signature" required>
            </div>
            <div class="field six wide">
                <label for="sign-date">Date</label>
                <div class="ui input right icon">
                    <!-- <input type="date" name="" id="" value="{{application.signDate | date:'yyyy-MM-dd'}}" disabled> -->
                    <input type="text" name="sign-date" id="sign-date" value="{{application.signDate | date:'mediumDate'}}" disabled>
                    <i class="calendar icon"></i>
                </div>
            </div>
        </div>
        <div class="ui center aligned container">
            <button type="submit" class="huge ui positive basic button" ng-disabled="applicationForm.$invalid">Submit Application</button>
        </div>
        <!-- <button type="submit" class="huge ui positive basic button" ng-disabled="applicationForm.$invalid">Submit Application</button> -->
    </form>
</div>
<!-- <bank-modal model="accountInfo" pay-rent="payRentBank()" charge-amount="20"></bank-modal>
<credit-card-modal model="cardInfo" pay-rent="payRentCard()" charge-amount="20"></credit-card-modal> -->
