<div class="ui padded center aligned text container segment">
    <h1 class="serif-font">Fox Briar Properties</h1>
    <p>PO BOX 1216<br>Pleasant Grove, Ut 84062</p>
    <p><a href="mailto:foxbriarproperties@live.com">foxbriarproperties@live.com</a></p>
    <p>Lisa Knapp: <a href="tel:801-319-9590">801-319-9590</a></p>

    <p>If you are interested in our properties, please feel free to fill out an <a ui-sref="apply">application</a>.</p>
    <p>If you are currently one of our residents and need to submit a maintenance request, please <a ui-sref="loginSignup">register</a> for an online account and submit your request online.</p>

    <p>Thank you!</p>
</div>
