<main-nav state="1"></main-nav>
<h1 class="ui center aligned block header">Resident Login</h1>
<div class="ui padded center aligned text container segment">
    <h2>For Returning Residents</h2>
    <a class="ui big primary basic button" href="/auth">Log In</a>
    <!-- <a class="ui grey basic button" href="/auth/logout">Log Out</a> -->
    <h2>For Non-Registered Users</h2>
    <p>If you <strong>are</strong> a Fox Briar Properties resident and have not yet registered for an account, please contact the web administrator at <a href="mailto:foxbriarproperties@gmail.com">foxbriarproperties@gmail.com</a>.</p>
    <p>If you are <strong>not</strong> yet a Fox Briar Properties resident, please fill out an <a ui-sref="apply">application</a> and wait for an approval response via email before registering for an account.</p>
</div>
