<div class="ui small modal" id="credit-card-modal">
    <div class="header">
        Card Info
        <p style="font-weight: normal">A fee of {{fee | currency}} will be charged for using this form of payment</p>
    </div>
    <div class="content">
        <form name="cardInfoForm" class="ui equal width form">
            <div class="field required">
                <label for="number">Card Number</label>
                <div class="ui right labeled input">
                    <div class="ui input left icon">
                        <i class="credit card alternative icon"></i>
                        <input type="text" name="number" id="number" required placeholder="Card Number" ng-model="model.number" pattern="[0-9]+" ng-blur="validateNumber(model.number)">
                    </div>
                    <div class="ui label" ng-if="cardType">
                        {{cardType}}
                    </div>
                </div>
                <div class="ui pointing red basic label" ng-show="numberError && cardInfoForm.number.$dirty">
                    Invalid card number
                </div>
            </div>
            <div class="fields">
                <div class="field four wide required">
                    <label for="month">Month</label>
                    <select class="ui fluid search dropdown" name="month" id="month" ng-model="model.month" ng-change="validateExpiry(model.month, model.year)" required>
                        <option value="">Month</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>
                      <div class="ui pointing red basic label" ng-show="expiryError">
                          Invalid expiration date
                      </div>
                </div>
                <div class="field four wide required">
                    <label for="year">Year</label>
                    <select class="ui fluid search dropdown" name="year" id="year" ng-model="model.year" ng-change="validateExpiry(model.month, model.year)" required>
                        <option value="">Year</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                      </select>
                </div>
                <div class="field four wide required">
                    <label for="cvc">CVC Code</label>
                    <div class="ui input left icon">
                        <i class="ui lock icon"></i>
                        <input type="text" name="cvc" id="cvc" required placeholder="cvc" ng-model="model.cvc" ng-blur="validateCVC(model.cvc)" pattern="[0-9]+">
                    </div>
                    <div class="ui pointing red basic label" ng-show="cvcError && cardInfoForm.cvc.$dirty">
                        Invalid CVC code
                    </div>
                </div>
                <div class="field five wide required">
                    <label for="zip">Zip Code</label>
                    <input type="text" name="zip" id="zip" required placeholder="Zip Code" ng-model="model.accountNumber" pattern="[0-9]+" minlength="5" maxlength="5">
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cancel
        </div>
        <div class="ui blue button" bank-modal-trigger="bank-account-modal">
            Pay With Bank
        </div>
        <button type="button" class="ui positive right labeled icon button" ng-disabled="cardInfoForm.$invalid" ng-click="payRent()">
            Pay {{totalCharge | currency}}
            <i class="checkmark icon"></i>
        </button>
    </div>
</div>
