.form-container {
    margin: auto auto 50px;
    @media screen and (min-width: 1200px) {
        max-width: 80%;
    }
    // @media screen and (max-width: 1199px) {
    //     width: 70%;
    // }
    // @media screen and (max-width: 800px) {
    //     width: 90%;
    // }
    button[type="submit"] {
        display: block;
        margin: 30px auto auto;
    }
}
